%article
  %header
    %h3= link_to resource.title, resource
  %section= resource.description
  %footer
    %aside
      %time{ :datetime => resource.created_at.strftime('%Y-%m-%dT%H:%M:%S'), :class => 'created' }
        = l resource.created_at, :format => :long
      / = resource.user.username.capitalize