%h1= resource.name

%table{ :cellspacing => 0 }
  %tr
    %th.title Topic
    %th.posts_count Posts
    %th.views_count Views
    %th.activity Activity
  - topics = resource.topics.ordered.paginate(:page => params[:page], :per_page => ForumEngine.per_page)
  = render topics # TODO redo!
  / = render :partial => 'topics/topic', :collection => resource.topics.ordered

%nav.pagination= will_paginate topics, :container => false