/* line 4, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 18, ../../app/stylesheets/partials/_logo.scss */
.logo {
  font-family: Monaco, Courier, "Lucida Sans Unicode", monospace;
  font-size: 3em;
  color: #888;
  text-decoration: none!important;
}
/* line 6, ../../app/stylesheets/partials/_logo.scss */
.logo .selector {
  vertical-align: middle;
  font-size: 1.3em;
}
/* line 9, ../../app/stylesheets/partials/_logo.scss */
.logo .brace {
  vertical-align: middle;
  font: bold 1.7em Georgia, "Times New Roman", serif;
  color: #ccc;
  margin: 0 -0.2em;
}
/* line 14, ../../app/stylesheets/partials/_logo.scss */
.logo .rule {
  vertical-align: middle;
  margin: 0 -0.2em;
}

/* line 8, ../../app/stylesheets/partials/_page.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 2, ../../app/stylesheets/partials/_html5.scss */
body.bp section, body.bp article, body.bp aside, body.bp header, body.bp footer, body.bp nav, body.bp dialog, body.bp figure {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
}
/* line 68, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 70, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 71, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 73, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 74, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 75, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 76, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 80, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #000066;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: black;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: black;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #cc0099;
}
/* line 81, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 82, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 83, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 84, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 86, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 87, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 88, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 89, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 90, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 91, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 92, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 93, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 94, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 95, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 97, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 98, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 99, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 100, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 102, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 104, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 105, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 106, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('/images/grid.png?1281691573');
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}
/* line 5, ../../app/stylesheets/partials/_layout.scss */
body.bp #container > * {
  padding: 10px 10px 10px 20px;
}
/* line 9, ../../app/stylesheets/partials/_layout.scss */
body.bp header#header {
  background-color: #eeeeee;
}
/* line 12, ../../app/stylesheets/partials/_layout.scss */
body.bp header#header nav ul {
  list-style-type: none;
  margin: 10px;
}
/* line 5, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
body.bp header#header nav ul, body.bp header#header nav ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 6, ../../app/stylesheets/partials/_inline-list.scss */
body.bp header#header nav ul li:after {
  content: " | ";
}
/* line 9, ../../app/stylesheets/partials/_inline-list.scss */
body.bp header#header nav ul li:last-child:after, body.bp header#header nav ul li.last:after {
  content: "";
}
/* line 17, ../../app/stylesheets/partials/_layout.scss */
body.bp header#header nav#user {
  display: inline;
  float: right;
}
/* line 18, ../../app/stylesheets/partials/_layout.scss */
body.bp header#header nav#menu {
  text-align: center;
}
/* line 25, ../../app/stylesheets/partials/_layout.scss */
body.bp footer#footer {
  text-align: center;
  padding: 20px 0px;
  background-color: #eeeeee;
}
/* line 7, ../../app/stylesheets/partials/_content.scss */
body.bp section#content table td, body.bp section#content table th {
  vertical-align: text-top;
}
/* line 10, ../../app/stylesheets/partials/_content.scss */
body.bp section#content table .title {
  width: 60%;
}
/* line 13, ../../app/stylesheets/partials/_content.scss */
body.bp section#content table .topics_count, body.bp section#content table .posts_count, body.bp section#content table .views_count {
  text-align: center;
}
/* line 18, ../../app/stylesheets/partials/_content.scss */
body.bp section#content article {
  width: auto;
  min-width: 1000px;
  margin: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 24, ../../app/stylesheets/partials/_content.scss */
body.bp section#content article header {
  background-color: #eeeeee;
  padding: 5px;
}
/* line 27, ../../app/stylesheets/partials/_content.scss */
body.bp section#content article header a.number {
  display: inline;
  float: right;
}
/* line 32, ../../app/stylesheets/partials/_content.scss */
body.bp section#content article section {
  display: table;
  overflow: hidden;
  *zoom: 1;
}
/* line 34, ../../app/stylesheets/partials/_content.scss */
body.bp section#content article section aside {
  background-color: #eeeeee;
  width: 200px;
  padding: 5px;
  display: table-cell;
}
/* line 42, ../../app/stylesheets/partials/_content.scss */
body.bp section#content article section .post {
  padding: 5px;
  display: table-cell;
}
/* line 50, ../../app/stylesheets/partials/_content.scss */
body.bp section#content article footer {
  background-color: #eeeeee;
  padding: 5px;
  overflow: hidden;
  *zoom: 1;
}
/* line 59, ../../app/stylesheets/partials/_content.scss */
body.bp section#content ul.controls {
  list-style-type: none;
  display: inline;
  float: right;
}
/* line 5, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
body.bp section#content ul.controls, body.bp section#content ul.controls li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 6, ../../app/stylesheets/partials/_inline-list.scss */
body.bp section#content ul.controls li:after {
  content: " | ";
}
/* line 9, ../../app/stylesheets/partials/_inline-list.scss */
body.bp section#content ul.controls li:last-child:after, body.bp section#content ul.controls li.last:after {
  content: "";
}

/* line 4, ../../app/stylesheets/partials/_form.scss */
form input[type=submit] {
  background-color: white;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
}
/* line 76, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
form input[type=submit] img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
form input[type=submit][type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
/* line 99, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
*:first-child + html form input[type=submit][type] {
  padding: 4px 10px 3px 7px;
}

/* line 11, ../../app/stylesheets/partials/_form.scss */
.alert {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.alert a {
  color: #8a1f11;
}

/* line 13, ../../app/stylesheets/partials/_form.scss */
form p {
  text-indent: 0!important;
}
/* line 15, ../../app/stylesheets/partials/_form.scss */
form .field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
/* line 20, ../../app/stylesheets/partials/_form.scss */
form #error_explanation, form #errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 28, ../../app/stylesheets/partials/_form.scss */
form #error_explanation h2, form #errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 38, ../../app/stylesheets/partials/_form.scss */
form #error_explanation ul li, form #errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 157, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic ul, form.formtastic ol, form.formtastic legend, form.formtastic p {
  margin: 0;
  padding: 0;
}
/* line 160, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 166, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic fieldset {
  display: block;
  *display: inline-block;
}
/* line 110, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic fieldset:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 170, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal;
  font-weight: normal;
}
/* line 175, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic ol, form.formtastic ul {
  list-style: none;
}
/* line 178, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic label {
  display: block;
  *display: inline-block;
}
/* line 110, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic label:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 182, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic input, form.formtastic textarea {
  vertical-align: middle;
}
/* line 186, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .check_boxes input, form.formtastic .radio input {
  margin: 0;
}
/* line 188, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .check_boxes label, form.formtastic .radio label {
  cursor: pointer;
}
/* line 191, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .hidden {
  display: none;
}
/* line 195, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .date li, form.formtastic .time li, form.formtastic .datetime li {
  float: left;
  width: auto;
  clear: none;
}
/* line 199, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .date label, form.formtastic .time label, form.formtastic .datetime label {
  width: auto;
}
/* line 202, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .date input, form.formtastic .time input, form.formtastic .datetime input {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 207, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .errors {
  list-style: square;
}
/* line 209, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .errors li {
  padding: 0;
  border: none;
  display: list-item;
  float: none;
  clear: both;
}
/* line 215, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .inputs {
  z-index: 99;
}
/* line 218, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .buttons li {
  float: left;
}
/* line 221, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li {
  *display: inline-block;
  display: block;
}
/* line 110, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 224, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li fieldset {
  border: none;
  position: relative;
  margin-top: 0px;
}
/* line 228, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li legend {
  display: block;
  margin-bottom: 0;
}
/* line 231, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li .label {
  display: block;
  clear: both;
  background: transparent;
}
/* line 236, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li ol {
  float: left;
  margin: 0;
}
/* line 239, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li ol li {
  padding: 0;
  border: 0;
  display: inline;
}
/* line 251, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic fieldset {
  width: 500px;
}
/* line 253, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic ol {
  padding-left: 0;
}
/* line 255, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic input {
  clear: both;
  float: none;
}
/* line 258, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li {
  display: block;
  clear: both;
  float: none;
  width: 500px;
}
/* line 261, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li ol {
  padding: 0;
}
/* line 263, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li li {
  clear: none;
  width: auto;
}
/* line 267, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li fieldset legend, form.formtastic li fieldset legend .label {
  display: block;
  clear: both;
}
/* line 270, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li fieldset .label {
  position: relative;
}
/* line 272, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic li fieldset label, form.formtastic li fieldset input {
  width: auto;
}
/* line 275, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .date ol, form.formtastic .time ol, form.formtastic .datetime ol {
  width: 500px;
}
/* line 277, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .date li, form.formtastic .time li, form.formtastic .datetime li {
  display: inline;
  clear: none;
  float: left;
  padding-right: 0;
}
/* line 283, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .checkbox li, form.formtastic .radio li {
  display: block;
}
/* line 285, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .checkbox input, form.formtastic .radio input {
  border: none;
}
/* line 287, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic label {
  display: block;
  clear: both;
  float: none;
  width: full;
}
/* line 290, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic input, form.formtastic textarea {
  width: 500px;
}
/* line 295, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic select {
  width: auto;
}
/* line 300, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .errors li {
  display: list-item;
}
/* line 303, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .buttons ol {
  padding-left: 0;
  padding-right: 0;
}
/* line 306, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .buttons li {
  float: left;
  width: auto;
  clear: none;
  display: inline;
}
/* line 314, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .buttons input {
  width: auto;
}
/* line 319, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic #errorExplanation {
  width: 500px;
}
/* line 321, ../../app/stylesheets/partials/form/_formtastic_base.sass */
form.formtastic .label {
  #left: -0.5em;
  #position: relative;
}
/* line 52, ../../app/stylesheets/partials/_form.scss */
form.formtastic .buttons .cancel {
  margin: 10px;
  display: inline;
  float: right;
}
